.diamond {
    height:25%;
    opacity: 0.6;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}
.diamond:hover {
    opacity: 1;
}
.diamond:active {
    filter: brightness(2) drop-shadow(5px 5px 5px #222);
}